*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.box{
    width: 900px;
    margin: 0 auto;
    background: gray;
    padding: 30px 0;
}

.box__el-1{

}

.box__el-2{
    
}