*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.center{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
}

.center__w33{
    width: 100%;
    float: left;
    padding: 0 10px;
}

@media screen and (min-width: 768px){
    .center__w33{
        width: 33.3%;
        text-align: center;
    }
}