*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.teste{
    width: 200px;
    height: 200px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.child{
    width: 200px;
    height: 900px;
}